<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock $}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <ul id="barra">
        <li class="elem"><a href="/">Inicio</a></li>
        <li class="elem">Servicios</li>
        <li class="elem">Productos</li>
        <li class="elem">Contacto</li>
    </ul>

    {% block content %} {% endblock $}
</body>
</html>