<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <ul id="barra">
        <li class="elem"><a href="/">Inicio</a></li>
        <li class="elem"><a href="/usuarios/16">Usuario 16</a></li>
        <li class="elem"><a href="/quienes">Quienes somos</a></li>
        <li class="elem"><a href="/contacto">Contacto</a></li>
    </ul>

    {% block content %} {% endblock %}
</body>
</html>