{% extends "base.html" %}
{% block title %}Contacto{% endblock %}
{% block content %}
    <p>Este es la página de contacto</p>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {{ form.name.label }}
        {{ form.name(size=4) }}
        {% for error in form.name.errors %}
        <span style="color: red;">{{error}}</span>
        <br>
        {% endfor %}
        {{ form.email.label }}
        {{ form.email(size=14) }}
        {% for error in form.email.errors %}
        <span style="color: red;">{{error}}</span>
        <br>
        {% endfor %}
        {{ form.password.label }}
        {{ form.password(size=8) }}
        {% for error in form.password.errors %}
        <span style="color: red;">{{error}}</span>
        <br>
        {% endfor %}
        {{ form.submit }}
        <!-- <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>
        <div class="form-group">
            <label for="correo">Correo electrónico</label>
            <input type="email" name="correo" id="correo">
        </div>
        <div class="form-group">
            <label for="pwd">Contraseña</label>
            <input type="password" name="pwd" id="pwd">
        </div>
        <input type="submit" id="btnEnviar" value="Enviar"> -->
    </form>
{% endblock %}