body{
    background-color: yellowgreen;
}

#barra{
    margin: auto;
    width: 50%;
    list-style: none;
    border-bottom: 1px dotted #999;
    font-size: 2em;
    color: rgb(1,20,29);
    display: flex;
    justify-content: space-between;
}
a, a:visited{
    text-decoration: none;
    color: rgb(1,20,29);
}

input, textarea {
   box-sizing: border-box;
   padding: 10px;
   width: 100%;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
}

form{
    max-width: 500px;
    margin: 0 auto;
}